# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
build/
flutter_*.png
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/

# IDEs
.idea/
.vscode/
android/.gradle/
android/local.properties

# Environment/Platform files
.env
*.iml

# macOS & iOS (if you ever add cross-platform)
ios/
macos/
Pods/
Podfile.lock

# Windows/Linux desktop builds
windows/
linux/
web/

# Output files
*.log
*.tmp

# Firebase/Secrets
*.keystore
google-services.json
*.jks
firebase-debug.log
firebase-app-id.json

# Other
*.lock
*.bak
*.swp
